{%extends 'main/layout.html'%}
{% load crispy_forms_tags %}
{%block title%}Create post{%endblock%}

{%block content%}
    <div class="features">
    <div class="form-group">
        <form method="post">
           {%csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom ">Create</legend>
                {{ form|crispy }}
            </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Post</button>
    </div>
        </form>
    </div>
    </div>
{%endblock%}